*{
    box-sizing: border-box;
  
}
html {
    scroll-behavior: smooth;
}
:root{
    --font-type:'Noto Sans JP', sans-serif;
}
body{
    background-color: #E5DFD3;
/* background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%); */
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-family: var(--font-type);

}
.header{
    position: fixed;
    background-color: white;
    width: 100vw;
    margin: auto;
    display: flex;
    z-index: 9999999;
}
.container__nav{
    width: 90vw;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:auto;
    /* transition: 0.2s ease-in-out; */
                /* position: fixed; */

}
.profile__img{
  background-image: url('https://lh3.googleusercontent.com/pw/AM-JKLXBpPkBRKbuAB7mkwR03Re4WgAoq1cFU48Jami2mxWCdj3ARR30pSzc21LIJ_hZ3Su46pfMccGiKYMIQa6ROmkNgfrxibmHfaCHth7zCfR_-X03QLEHbURVu-7kAbu-n55GBWytyEXEnZ_44l3sWiJR=s400-no?authuser=0');
  width: 30vw;
    height: 30vh;
    background-repeat: no-repeat;

}
.nav__menu{
    list-style: none;
    color: black;
    font-size: 1.3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 0;
    /* position: fixed; */
   
}

a.atag{
    display: block;
    text-align: center;
    margin: 0 auto;
    color: black;
    text-decoration: none;
    width: max-content;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;

}

.nav__menu > li{
    width: 7vw;
    height: 5vh;
    margin-inline: 2rem;
    align-self: center;
}
a.atag::after{
    content: " ";
    display: block;
    height: 3px;
    width: 100%;
    background-color: #EECD95;
    transform-origin: right top;
    transform: scale(0,1);
    transition: color 0.2s, transform 0.2s ease-out;
}
a.atag:active::after{
    background-color: #000;

}
a.atag:hover::after,
a.atag:focus::after{
    transform-origin: left top;
    transform: scale(1,1);
}


/* Floating Social Media Bar Style Starts Here */
.bx-bx {
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 4px;
    width: 190px;
    position: fixed;
    right: -140px;
    z-index: 1000;
    font: normal normal 10px Arial;
    transition: all .25s ease;
  }
 
  .bx-bx:hover {
    right: 0;
  }
  .bxl-github,.bxl-linkedin,.bxl-codepen {
    font-size: 20px;
    color: black;
    padding: 10px 0;
    width: 40px;
    margin-left: 8px;
  }


  .float-git {
    top: 160px;
  }
  
  .float-link {
    top: 215px;
  }
  
  .float-codp {
    top: 270px;
  }

  .a__float{
      text-decoration: none;
      color: black;
  }
  .hamburger{
    width: auto;
    height: 10px;  
    display: none;
  }

.small__logo__hiden{
    display: none;
}


.close__x{
    display: none;
}

@media (max-width: 848px) {
.nav__menu{
    display: none;
}

.bx-menu{
    font-size: 4rem;
}
.small__logo{
    display: none;
}

.nav__menu{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin: -60px -5vw;
    background-color: white;
}

.close__x{
    display: block;
}


.nav__menu > li {
  width: 20vw;
    height: 5vh;
    margin-inline: 2rem;
    align-self: center;
}
a.atag{
    text-align: center;
    cursor: pointer;
}
li.about__me {
    margin-left: 0px;
}
li.contact {
    margin-left: 14px;
}
.container__nav {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}
.nav__menu,.close__x {
    transform:translateX(-100vw);
    transition: transform 0.3s ease-in;
}
.small__logo__hiden{
    display: block ;
    margin: auto;   
}

.hamburger{
    display: block;
    /* font-size: 40px; */
    cursor: pointer;
    position: fixed;
    
}
.nav__visible, .open__x{
    transform:translateX(0);
    transition: transform 0.3s ease-in;
}

.open__x {
    transform:translateX(0);
    position: fixed;
    z-index: 100;
    top: 0px;
    font-size: 40px;
    right: 13px;
    
}



}

/* in this line end mediqueries for navbar */

.home__container{
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    margin: auto;
    flex-direction: column;
    align-items: center;
}

.text__main{
    font-size: 3rem;
    color:#EECD95;
    font-weight: 700;
}
.about__container,.contact__container{
    /* height:100vh; */
    width: 100vw;
    background-color: #E5DFD3;
}
.about__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: inherit;
    margin-bottom: 6vh;
}
.home__welcome{
    /* width: 100px; */
    height: 50%;
    margin-top: 8vh;
}
.about__welcome{
    width: 30vw;
    margin: 0 auto;
}
h2{
    text-align: center;
    font-size: 2rem;
}
.try{
    position: fixed;
    width: 90vw;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:auto;
    background-color: white;
    z-index: 999999;
}

#str1,
#str2,
#str3,
#str4{
    font-size: 5vw;
    text-align: left;
    font-family: var(--font-type);
    font-weight: bold;
}

/* .info__about{
    width: 80vw;
    margin: auto;

} */



/* skill bar */
.skill__container{
    width: 30vw;
    margin: 0 auto;
  }
  @keyframes load{
    from {
      width: 0%
    }
  }

  
  .bar{
    background-color:#ffffff;
    padding: 2px;
    border-radius: 15px;
    margin-bottom: 5px;
    font-size: 14px;
    color: black;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  }
  .bar::before{
    content:  attr(data-skill);
    background-color: rgba(255, 68, 0, 0.685);
    display: inline-block;
    padding: 5px 0 5px 10px;
    border-radius: inherit;
    animation: load 2s 0s;
  }
  
  .bar.front.advanced::before{
    background-color: #32e650c4;
  }
  .bar.front.expert::before{
    background-color: rgba(255, 0, 0, 0.726);
  }
  .bar.back.intermediate::before{
    background-color:yellow;
  }
  .bar.back::before{
    background-color: rgba(0, 0, 255, 0.507);
  }
  
  .bar.learning::before{
    width: calc(60% - 10px);
  }
  .bar.basic::before{
    width: calc(40% - 10px);
  }
  .bar.intermediate::before{
    width: calc(30% - 10px);
  }
  .bar.advanced::before{
    width: calc(40% - 10px);
  }
  .bar.expert::before{
    width: calc(40% - 10px);
  }
  


  .works__container{
    /* flex-direction: column;   */
    width: 80vw;
    background-color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    
    margin: auto;
    justify-content: space-between;
    margin-top:3vh;
    flex-wrap: wrap;
   
  }
  
.nav__menu--op{
  cursor: pointer;
}

  
  
  .flip-card {
    background-color: transparent;
    width: 38vw;
    height: 50vh;
    margin: 10px;
    
    margin-top: 3vh;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: white;
    border-radius: 20px;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color:#e5dfd3;
    color: black;
    transform: rotateY(180deg);
    border-radius: 20px;
  }
  @media (max-width: 1000px) {
    .works__container{
        flex-direction: column;
        margin: auto;
        justify-content: center;
        flex-wrap: nowrap;
        align-items: center;
        /* padding-bottom: <20px; */
      }
      .flip-card {
        background-color: transparent;
        width: 66vw;
        height: 50vh;
        margin: 10px;
        margin-top: 3vh;
        perspective: 1000px;
    }}
  @media (max-width: 800px) {
    .works__container{
        flex-direction: column;
        margin: auto;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;
        /* padding-bottom: <20px; */
      }
      .flip-card {
        background-color: transparent;
        width: 80vw;
        height: 50vh;
        margin-top: 3vh;
        perspective: 1000px;
    }

}

.form__container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
input {
  margin-bottom:10px;
}
textarea {
  height:100px;
  margin-bottom:10px;
}
input:first-of-type
{
  margin-top:35px;
}
input, textarea {
  font-size: 1em;
  padding: 15px 10px 10px;
  font-family: 'Source Sans Pro',arial,sans-serif;
  border: 1px solid #cecece;
  background: #d7d7d7;
  color:black;
  border-radius: 5px;
  box-sizing: border-box;
  width: 80%;
  max-width: 600px;
}
.works_container{
    width: 100vw;
    /* height: 100vh; */
    background-color: white;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
  margin-top:15px;
  margin-bottom:25px;
  background-color:#E5DFD3;
  padding: 12px 0;
  border-radius: 5px;
  border: 1px solid #E5DFD3;
  transition: .5s;
  display: inline-block;
  cursor: pointer;
  width:10%;
  text-align: center;
  color:black;
  background-color: #eecd95;
}
button:hover, .button:hover {
  background:#E5DFD3;
}
@media(max-width:850px){
  .home__container {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin: auto;
    flex-direction: column;
    align-items: center;
}
.container__img{
  width: 100vw;
  height: auto;
}
}
@media(max-width:1120px){
  .profile__img {
    background-image: url(https://lh3.googleusercontent.com/pw/AM-JKLXBpPkBRKbuAB7mkwR03Re4WgAoq1cFU48Jami2mxWCdj3ARR30pSzc21LIJ_hZ3Su46pfMccGiKYMIQa6ROmkNgfrxibmHfaCHth7zCfR_-X03QLEHbURVu-7kAbu-n55GBWytyEXEnZ_44l3sWiJR=s400-no?authuser=0);
    width: 50vw;
    height: 36vh;
    background-repeat: no-repeat;
    background-size: cover;

}
.home__container {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  margin: auto;
  flex-direction: column;
  align-items: center;
}
.home__welcome {
  /* width: 100px; */
  height: 38%;
  margin-top: 8vh;
}
.container__img {
  width: 100vw;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
}

}
/* media queries */
@media (max-width: 800px) {
    .works_container{
        width: 100vw;
       
        background-color: white;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .about__container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        height: inherit;
         
    }
    .about__welcome {
        width: 70vw;
        margin: 0 14vw;
    }
    .skill__container {
        width: 75vw;
        margin: 0 13vw 32px 13vw;
    }
    .try{
        margin:0 5vw;
    }
    .home__container {
      width: 100vw;
      /* height: 100vh; */
      background-color: white;
      display: flex;
      justify-content: space-between;
      align-content: center;
      flex-wrap: wrap;
      margin: auto;
      flex-direction: column;
      align-items: center;
  }
  /* .profile__img {
    background-image: url('https://lh3.googleusercontent.com/pw/AM-JKLXBpPkBRKbuAB7mkwR03Re4WgAoq1cFU48Jami2mxWCdj3ARR30pSzc21LIJ_hZ3Su46pfMccGiKYMIQa6ROmkNgfrxibmHfaCHth7zCfR_-X03QLEHbURVu-7kAbu-n55GBWytyEXEnZ_44l3sWiJR=s400-no?authuser=0');
    width: 100vw;
    height: 56vh;
    background-repeat: no-repeat;
    margin: auto;
    background-size: cover;
} */
.home__welcome {
  width: auto;
  height: 30%;
  margin-top: 11vh;
}
  
}

@media (max-width:640px){
  .home__container {
    width: 100vw;
    /* height: 100vh; */
    background-color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin: auto;
    flex-direction: column;
    align-items: center;
}
.profile__img {
  background-image: url('https://lh3.googleusercontent.com/pw/AM-JKLXBpPkBRKbuAB7mkwR03Re4WgAoq1cFU48Jami2mxWCdj3ARR30pSzc21LIJ_hZ3Su46pfMccGiKYMIQa6ROmkNgfrxibmHfaCHth7zCfR_-X03QLEHbURVu-7kAbu-n55GBWytyEXEnZ_44l3sWiJR=s400-no?authuser=0');
  width: 100vw;
  height: 45vh;
  background-repeat: no-repeat;
  background-size: cover;
}
}
#pj1{
  background-image: url('https://lh3.googleusercontent.com/c63MUVAGdhNoS3sbnBOzUvciC0JzXQETViYs60WqFU9ssoUc1KUytNWLJia8xfuIj-5ReA0cO0RnyfKMR7FQuJgg4q9ZehQuZ7SHAQ4jia4svTFNgMioPbEvKZ78bHk3ky5iJCVOyY-N9ZILYl6dOu98VlmitQcO-as6OY5OV_vqzjcfg4IbNaZ3uT4KtX6hMXHpGafZsFaxZOmArFiqDU-bALg8IJC-XzDWNlIFD2P0cXrhsTowfhuL7L47XqRISSqeOHm48xJrA8lEH1axPHbHpQpMH5X8T1yMMDWZKYwV4GH83hvoY5PiXbFdL6FuKFuKo-Igsoy7NyzgRbQkkYsEuFixrDlpWNeb4G0wNnLNPQxuz7gxZK956nd-_SjldumH8EgS9zQYgiHNhQg601Hn-xUvyfd4wTOfNDf8Y20BLvAxPrSTsDK0FgptN27HpovbY-UxtMqoPt63CIHyi-_ODxC39th3ANz_DSRymDHau2cNYIVKHhcKc0cITHGjbMqWUzgcwaQLQAldLS3F98VVP7XHW73BEhZ8Oc-eOn_SJsluiXj8cvKUz-GuLBSBFLquu-gFo5CSlXWCYlgRvEXHFbx8IJAINKtUaveNKNDM-CcZT7ZXWV71oG01xatv0d2r0ZIpoNH2GV6S-UwXRrv3Xvu-augMIFneGBnayACLqoUXFw8eb6GMvSYJOmLly_x3y_XiSP16ojq08m_vd_s=w1232-h673-no?authuser=0');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#pj2{
  background-image: url('https://i1.wp.com/jeremeyduvall.com/wp-content/uploads/2015/09/codechallenge.png?fit=1024%2C512&ssl=1');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#pj3,#pj4{
  background-image: url('https://edteam-media.s3.amazonaws.com/community/original/21aefa49-6698-4d8e-b09c-09266ef80f42.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.buttom{
  background-color:white;
  border: 1px solid black;
  text-decoration: none;
  border-radius: 20px;
  padding: 0 1vw;
  color: #000;
  align-self: center;
}
@media (max-width:380px){
  .profile__img {
    background-image: url('https://lh3.googleusercontent.com/pw/AM-JKLXBpPkBRKbuAB7mkwR03Re4WgAoq1cFU48Jami2mxWCdj3ARR30pSzc21LIJ_hZ3Su46pfMccGiKYMIQa6ROmkNgfrxibmHfaCHth7zCfR_-X03QLEHbURVu-7kAbu-n55GBWytyEXEnZ_44l3sWiJR=s400-no?authuser=0');
    width: 100vw;
    height: 36vh;
    background-repeat: no-repeat;
    background-size: cover;
}
@media (max-width:471px){
  .profile__img {
    background-image: url('https://lh3.googleusercontent.com/pw/AM-JKLXBpPkBRKbuAB7mkwR03Re4WgAoq1cFU48Jami2mxWCdj3ARR30pSzc21LIJ_hZ3Su46pfMccGiKYMIQa6ROmkNgfrxibmHfaCHth7zCfR_-X03QLEHbURVu-7kAbu-n55GBWytyEXEnZ_44l3sWiJR=s400-no?authuser=0');
    width: 100vw;
    height: 45vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
}
footer{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}